<div class="row">
    <div class="col-sm-3">
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 20rem;">
            <div class="card">
                <img src="\assets\image\house.jpg" class="card-img-top propImg" alt="...">
                <div class="card-body">
                    <h1 class="card-title">{{Property.Id}}</h1>
                    <h3 class="card-text">{{Property.Type}}</h3>
                    <h3 class="card-text">{{Property.Price}}</h3>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 20rem;">
            <div class="card">
                <img src="\assets\image\house.jpg" class="card-img-top propImg" alt="...">
                <div class="card-body">
                    <h1 class="card-title">{{Property.Id}}</h1>
                    <h3 class="card-text">{{Property.Type}}</h3>
                    <h3 class="card-text">{{Property.Price}}</h3>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 20rem;">
            <div class="card">
                <img src="\assets\image\house.jpg" class="card-img-top propImg" alt="...">
                <div class="card-body">
                    <h1 class="card-title">{{Property.Id}}</h1>
                    <h3 class="card-text">{{Property.Type}}</h3>
                    <h3 class="card-text">{{Property.Price}}</h3>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 20rem;">
            <div class="card">
                <img src="\assets\image\house.jpg" class="card-img-top propImg" alt="...">
                <div class="card-body">
                    <h1 class="card-title">{{Property.Id}}</h1>
                    <h3 class="card-text">{{Property.Type}}</h3>
                    <h3 class="card-text">{{Property.Price}}</h3>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 20rem;">
            <div class="card">
                <img src="\assets\image\house.jpg" class="card-img-top propImg" alt="...">
                <div class="card-body">
                    <h1 class="card-title">{{Property.Id}}</h1>
                    <h3 class="card-text">{{Property.Type}}</h3>
                    <h3 class="card-text">{{Property.Price}}</h3>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 20rem;">
            <div class="card">
                <img src="\assets\image\house.jpg" class="card-img-top propImg" alt="...">
                <div class="card-body">
                    <h1 class="card-title">{{Property.Id}}</h1>
                    <h3 class="card-text">{{Property.Type}}</h3>
                    <h3 class="card-text">{{Property.Price}}</h3>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 20rem;">
            <div class="card">
                <img src="\assets\image\house.jpg" class="card-img-top propImg" alt="...">
                <div class="card-body">
                    <h1 class="card-title">{{Property.Id}}</h1>
                    <h3 class="card-text">{{Property.Type}}</h3>
                    <h3 class="card-text">{{Property.Price}}</h3>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</div>